@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  
}

.font-style{
  font-size: 4rem;
  color: rgb(69, 220, 240);
  text-shadow: 1px 1px 0 #9efa48, -1px -1px 0 #9efa48, 1px -1px 0 #9efa48, -1px 1px 0 #9efa48;
}

